useDynLib(hdbcp, .registration=TRUE)
exportPattern("^[[:alpha:]]+")
export(`%notin%`)
importFrom(Rcpp, evalCpp)
importFrom("dplyr", "%>%")
importFrom("stats", "runif")
importFrom("stats", "var")
importFrom("matrixStats", "colMedians")
